@model CategoryCreateModel
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Kategori Ekleme</h2>
    <form asp-action="Create" asp-controller="Category" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Kategori Adi</label>
            <input asp-for="@Model.Definition" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>