@model List<CategoryListModel>
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kategory Adi</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td colspan="2">@category.Definition</td>
                     <td colspan="2">
                        <a class="btn btn-danger" asp-controller="Category" asp-action="Remove" asp-route-id="@category.Id">Sil</a>
                        <a class="btn btn-danger" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id">Güncelle</a>
                     </td>
                </tr>
            }

        </tbody>
    </table>
</div>
